obj/Debug/netcoreapp2.0/Products.pdb
obj/Debug/netcoreapp2.0/Products.dll
bin/Debug/netcoreapp2.0/Products.dll
bin/Debug/netcoreapp2.0/Products.dll
bin/Debug/netcoreapp2.0/Products.dll
bin/Debug/netcoreapp2.0/Products.dll
bin/Debug/netcoreapp2.0/Products.pdb
obj/Debug/netcoreapp2.0/Products.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.0/Products.assets.cache
obj/Debug/netcoreapp2.0/Products.dll
obj/Debug/netcoreapp2.0/Products.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.0/Products.pdb
obj/Debug/netcoreapp2.0/project.razor.json
bin/Debug/netcoreapp2.0/Products.dll
